@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body{
    background-color: #fafafa;
}
a.navbar-brand {
    float: left;
    padding: 19px 17px;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;

}

nav.main-navigation {
    position: relative;
}

nav.main-navigation ul.nav-item {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    text-align: right;
}

.navbar-nav li.nav-item {
    text-align: center
}

a.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #404040;
}

.navbar-nav .nav-item .nav-link{
    color: #5e5e5e;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    z-index: 5;
   font-weight: bold;
}
.navbar-nav .nav-item .nav-link:hover{color:#fed136;}
.navbar-nav .nav-item .nav-link:active{color:#00D3A9;}
.navbar-expand-md .navbar-nav .dropdown-menu{
	border-top:3px solid #fed136;
}
.nav-heigth{
    padding: -0.10rem 1rem;
}
.img-brand img{
    margin-top:-15px;
    width: 18vh;
    padding-top: 12px;
    /* padding-bottom: 12px;  */
}
.navbar-toggler-icon i{
    color: #00D3A9;
    font-size: 30px;
    margin-top:-3px;
}
.navbar-toggler-icon i:hover,i:active{
    border: 1px solid #00D3A9;
    border-radius: 3px;
    padding: 5px 6px;
    margin-top:-3px;
}

/* Costume CSS Content Hedaer */

.hello{   
    background: linear-gradient(191.76deg, #F37A03 9.93%, rgba(255, 210, 51, 0.78) 89.28%);background: linear-gradient(191.76deg, #F37A03 9.93%, rgba(255, 210, 51, 0.78) 89.28%);
    position: inherit;
    margin-top: -120px;
    background-color: #F37A03;
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
    background-size: cover;
  }

.row h1{
    /* font-family: 'Noto Serif', serif; */
    line-height: normal;
    font-weight: bold;
    font-size: 70pt;
    color: #723902;
}
.row h2{
    /* font-family: 'Noto Serif', serif; */
    line-height: normal;
    font-weight: bold;
    font-size: 45px;
    color: #FFFFFF;
    margin-top: -38px;
}
.row p{
    color: #FFFFFF;    
}

@media (min-width: 576px) {
    .img-prototype {
        padding-top: 80px;
    }
}

.img-prototype img{
    width: 286px;
    height: 573px;
    position: absolute;
    margin-left: 150px;
    top: 132px;
}

/* lakon css */

.section-header .col-header-title {
    padding-top: 110px;
    position: inherit; 
}

.lakon-text {
    font-size: 14pt;
    text-align: left;
}
p.lakon-donw {
    margin-top: -35px;
    font-size: 15pt;
    margin-bottom: -8px;
    text-transform: uppercase;
}
@media screen and (min-width:350px) {
    .lakon-text {
        font-size: 12pt
    }
}

@media screen and (min-width:550px) {
    .lakon-text {
        font-size: 12pt
    }
}

@media screen and (min-width:850px) {
    .lakon-text {
        font-size: 14pt;
        text-align: left;
    }
}

@media screen and (min-width:2250px) {
    .lakon-text {
        font-size: 14pt
    }
}

@media screen and (max-width:350px) {
    .lakon-text {
        font-size: 12pt
    }
}
.col-store img {
    width: 220px;
}
.section-header .col-header-title .col-button-header,
.section-header .col-header-title .header-button {
    padding-top: 40px;
    margin-top: 20px
}

@media screen and (min-width:350px) {
    .section-header .col-header-title .col-button-header,
    .section-header .col-header-title .header-button {
        padding-top: 20px;
        margin-top: 0
    }
}

@media screen and (min-width:550px) {
    .section-header .col-header-title .col-button-header,
    .section-header .col-header-title .header-button {
        padding-top: 40px;
        margin-top: 0
    }
}

@media screen and (min-width:850px) {
    .section-header .col-header-title .col-button-header,
    .section-header .col-header-title .header-button {
        padding-top: 0;
        margin-top: 20px
    }
}

@media screen and (min-width:2250px) {
    .section-header .col-header-title .col-button-header,
    .section-header .col-header-title .header-button {
        padding-top: 0;
        margin-top: 20px
    }
}

@media screen and (max-width:350px) {
    .section-header .col-header-title .col-button-header,
    .section-header .col-header-title .header-button {
        padding-top: 20px;
        margin-top: 0
    }
}

.section-header .col-header-title .col-button-header:hover,
.section-header .col-header-title .header-button:hover {
    cursor: pointer
}

.section-header .col-header-title .header-icon {
    width: 25%
}

@media screen and (min-width:350px) {
    .section-header .col-header-title .header-icon {
        width: 50%
    }
}

@media screen and (min-width:550px) {
    .section-header .col-header-title .header-icon {
        width: 50%
    }
}

@media screen and (min-width:850px) {
    .section-header .col-header-title .header-icon {
        width: 25%
    }
}

@media screen and (min-width:2250px) {
    .section-header .col-header-title .header-icon {
        width: 25%
    }
}

@media screen and (max-width:350px) {
    .section-header .col-header-title .header-icon {
        width: 50%
    }
}

.section-header .col-header-title .header-icon img {
    width: 80%
}

.section-header .col-header-title .header-title h1 {
    font-weight: 500!important;
    font-size: 32pt
}

@media screen and (min-width:350px) {
    .section-header .col-header-title .header-title h1 {
        font-size: 40pt
    }
}

@media screen and (min-width:550px) {
    .section-header .col-header-title .header-title h1 {
        font-size: 37pt;
    }
}

@media screen and (min-width:850px) {
    .section-header .col-header-title .header-title h1 {
        font-size: 40pt;
        margin-top: 12px; 
    }
}

@media screen and (min-width:2250px) {
    .section-header .col-header-title .header-title h1 {
        font-size: 36pt
    }
}

@media screen and (max-width:350px) {
    .section-header .col-header-title .header-title h1 {
        font-size: 16pt
    }
}

.section-header .col-header-title .header-description {
    font-size: 12pt;
    font-weight: 200;
    letter-spacing: .3pt
}

.section-header .col-header-image {
    padding-top: 76px;
}

.section-header .col-header-image .header-image-container {
    position: relative;
    margin-left: 130px;
    margin-right: -130px;
    padding: 50px;
}


@media screen and (min-width:350px) {
    .section-header .col-header-image .header-image-container img{
        position: relative;
        padding: 0px;
        left: -120px;
        top: -90px;
    }
}

@media screen and (min-width:550px) {
    .section-header .col-header-image .header-image-container img{
        position: relative;
        padding: 0px;
        left: -100px;
        top: -103px;
        width: 55vw;
    }
}

@media screen and (min-width:850px) {
    .section-header .col-header-image .header-image-container img{
        position: relative;
        padding: 0px;
        left: -35px;
        top: -26px;
        width: 20vw;
    }
}

@media screen and (min-width:2250px) {
    .section-header .col-header-image .header-image-container img{
        position: relative;
        padding: 0px;
        left: -35px;
        top: -26px;
    }
}

/* CSS Section Body */
.hr-title{
    border: 1px solid #d6d6d6ef;
    padding-left: 15px;
    margin-top: 50px;
    margin-bottom: -37px;
}
.SectionBody{
    background: #FFFFFF;
    position: relative;
    z-index: 3;
}
.body-raised{
    margin: -44px 30px 0px;
    border-radius: 7px;
    box-shadow: 0px 14px 17px 0px rgba(128, 126, 126, 0.2), 2px 1px 20px 4px rgba(78, 78, 78, 0.32);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
    background-size: cover;
}

/* Tabs conten CSS */
.nav-tabs .nav-link.active {
    color: #F37A03;
    font-weight:bold;
    background-color: transparent;
    border-bottom:4px solid #FF7E00;
    border-right: none;
    border-left: none;
    border-top: none;
}
.nav-tabs .nav-link{
    border: none;
    color: #343434;
}
.nav-tabs{
    margin-top: 60px;
    margin-bottom: 17px;
}
.nav-tabs a{
    font-size: 23pt;
    font-weight: bold;
}
.tab-content p{
    color: #343434;
}
p.tab-desc-menu{
    margin-left: 220px;
    position: relative;
    max-width: 61%;
}
.form-search{
    margin-top: 40px;
    position: relative;
    max-width: 69%;
    margin-left: 168px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 23px 20px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 40px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-search .btn-round {
    position: absolute;
    right: 1px;
    border: none;
    padding: 10px 12px;
    height: 46px;
    line-height: 30px;
    width: 57px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: block;
    top: 0px;
    opacity: .7;
    background: #e2e0e02b;
    transition: all .2s;
}
.form-search .btn-round i{
    color:#00D3A9;
    font-size: 17pt;
}
.form-search .btn-round i:hover{
    color: #ff7e00;
}
.col-sm-9 nav {
    margin-left: 150px;
    margin-right: -121px;
}
    /* Education section */
.img-raised{
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.inden-education{
    margin-bottom: 40px;
}
#education{
    text-align: left;
    /* border-left: 1px solid #bbb7b7ad; */
    padding-left: 30px;
  }
  #education p{
    text-align: justify;
 }
  #education a p{
    text-align: justify;
    color: darkgray ;
  }
  #education i{
    color: #ff8106 ;
    padding-bottom: 10px;
  }
  #education i:hover{
    border-bottom: 1px solid #ff8106; 
  }
  #education a{
    color: darkgray ;
    text-decoration: none;
  }
  #education>.read-more{
    margin-top: 30px;
    background-color: #ff7e00;
    border-radius: 15px;
  }
  #education>.read-more a{
    color:#ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
  }
  .read-more{
    margin-top:30px;
  }
  .read-more a{
    background-color: #ff7e00;
    border-radius: 15px;
    color:#ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 450;
    font-size: 15px;
    padding: 15px 30px 15px 30px;
  }
.info {
    max-width: 360px;
    margin: 0 auto;
    padding: 70px 0 30px;
}
  .info .info-title {
    color: #3C4858;
    margin: 1.75rem 0 0.875rem;
}
h4.info-title{
    margin-top: 10px;
}

/* CSS For Data Korban Bencana */
.icon-korban i{
    color: #F37A03;
    font-size: 100pt;
}
h4.title-korban{
    margin-bottom: 11px;
}
#education p.desc-data{
    margin-top: -15px;
}
.num-data h5{
    font-size: 35pt;
    color: #f37a03;
    margin-bottom: -10px;
}
.num-data p{
    font-size: 25pt;
    color: #f37a03;
}


/* CSS OUR TEAM */

/* Section Footer CSS */

.section-footer {
    background-color: #343434;
    padding: 80px 0;
    color: #fff!important
}

.section-footer .col-footer-top .footer-title {
    font-weight: 700
}

.section-footer .col-footer-top .footer-content {
    font-weight: 200;
    color: #fff!important;
    text-align: center;
    display: block;
    margin: 0 0 10px!important
}

.section-footer .col-footer-top .footer-content:hover {
    color: #fff!important;
    text-decoration: none;
    cursor: pointer
}

.section-footer .col-footer-top .footer-content:focus {
    text-decoration: none
}

.footer{   
    padding-top: 60px;
    margin-top: 53px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    box-shadow: 0px 2px 20px 1px #7b7a7a47;
    margin-bottom: -10px;
}
  
.logo-footer img{
      width: 20vw;
}
.logo-footer p{
    color: #242425;
    font-size: 11pt;
    margin-top: 20px;
    margin-right: -50px;
}
.logo-footer p a{
    color: #ff7e00;
    text-decoration: none;
    font-weight: 500;
}
.logo-footer p a:hover{
    color: #00D3A9;
}
ul.menu-footer {
    list-style: none;
    margin-left: 83px;
}
ul.menu-footer li{
   padding-bottom: 15px;
   font-size: 14pt;
   font-weight: bold;    
}
ul.menu-footer li a{
    color: #242425;
}
ul.menu-footer li a:hover{
    color: #00D3A9;
}
.col-images p{
    color: #7e7d7d;
    font-size: 16pt;
    letter-spacing: 3px;
    font-weight: 300;
    margin-top: -3px;
    text-transform: uppercase;
}
.col-images img{
    width: 18vw;
    background-color: black;
    padding: 0px 35px 0px 35px;
    border-radius: 15px;
    margin-bottom: 19px;
}
.footer-sosmed h6{
    font-size: 14pt;
   font-weight: bold;
   color: #7e7d7d;
}
.footer-sosmed ul{
    position: relative;
    margin-left: -70px;
}
.footer-sosmed ul li{
    display: inline;
}
.footer-sosmed li{
    font-size: 20pt;
    padding-left: 30px;
}
.footer-sosmed a{
    color: #ff7e00;
}
.footer-sosmed a:hover{
    color: #00D3A9;
}
.postition-col{
    position: absolute;
    position: absolute;
    margin-top:170px;
}


@media screen and (min-width:350px) {
    .logo-footer img{
        width: 49vh;
        padding-left: 21px;
    }
    .logo-footer p{
        color: #242425;
        font-size: 11pt;
        margin-top: 20px;
        margin-right: 0px;
        text-align: justify;
    }
    ul.menu-footer {
        list-style: none;
        position: relative;
        margin-left: -30px;
        display: inline;
        }
        ul.menu-footer li{
        padding-bottom: 15px;
        font-size: 14pt;
        font-weight: bold;    
        }
}

@media screen and (min-width:550px) {
    .logo-footer img{
        width: 31vw;
        margin-left: -22px;    
}
    .logo-footer p{
        color: #242425;
        font-size: 11pt;
        margin-top: 20px;
        margin-right: -40px;
        text-align: justify;
    }    
    ul.menu-footer {
        list-style: none;
        position: relative;
        }
        ul.menu-footer li{
        margin-left: 30px;
        margin-top: -20px;
        padding-bottom: 30px;
        font-size: 14pt;
        font-weight: bold;    
        }
}

@media screen and (min-width:850px) {
        .logo-footer img{
            width: 22vw;
            margin-left: -22px;
    }
    .logo-footer p{
        color: #242425;
        font-size: 11pt;
        margin-top: 20px;
        margin-right: 34px;
    }
    .logo-footer p a{
        color: #ff7e00;
        text-decoration: none;
        font-weight: 500;
    }
    .logo-footer p a:hover{
        color: #00D3A9;
    }
    ul.menu-footer {
        list-style: none;
        margin-left: 83px;
    }
    ul.menu-footer li{
        padding-bottom: 39px;
        font-size: 14pt;
        font-weight: bold;    
    }
    ul.menu-footer li a{
        color: #242425;
    }
    ul.menu-footer li a:hover{
        color: #00D3A9;
    }
}

@media screen and (min-width:2250px) {
        .logo-footer img{
            width: 20vw;
    }
    .logo-footer p{
        color: #242425;
        font-size: 11pt;
        margin-top: 20px;
        margin-right: -50px;
    }
    .logo-footer p a{
        color: #ff7e00;
        text-decoration: none;
        font-weight: 500;
    }
    .logo-footer p a:hover{
        color: #00D3A9;
    }
    ul.menu-footer {
        list-style: none;
        margin-left: 83px;
    }
    ul.menu-footer li{
        padding-bottom: 15px;
        font-size: 14pt;
        font-weight: bold;    
    }
    ul.menu-footer li a{
        color: #242425;
    }
    ul.menu-footer li a:hover{
        color: #00D3A9;
    }
}
