<template>
    <div id="AboutPage">
        <SectionHeader/>
        <BodyAbout/>
  </div>
</template>

<script>
import SectionHeader from '../components/SectionHeader.vue'
import BodyAbout from '../components/BodyAbout.vue'

export default {
    name:'About',
    components:{
        SectionHeader,
        BodyAbout
    }    
}
</script>
