<template>
    <div id="EducationPage">
        <HeroEducation/>
        <BodyDetailEdu/>
        <!-- <SectionBody/> -->
  </div>
</template>

<script>
import HeroEducation from '../components/HeroEducation.vue'
import BodyDetailEdu from '../components/BodyDetailEdu.vue'

export default {
    name:'DetailEducation',
    components:{
        HeroEducation,
        BodyDetailEdu
    }    
}
</script>
