<template>
    <div id="EducationPage">
        <HeroEducation/>
        <SectionEdukasi/>
  </div>
</template>

<script>
import HeroEducation from '../components/HeroEducation.vue'
import SectionEdukasi from '../components/SectionEdukasi.vue'


export default {
    name:'Education',
    components:{
        HeroEducation,
        SectionEdukasi
    }    
}
</script>
