<template>
    <div id="app">
        <SectionHeader />
        <SectionBody/>
        <SectionFooter/>
  </div>
</template>

<script>
import SectionHeader from '../components/SectionHeader.vue'
import SectionFooter from '../components/SectionFooter.vue'
import SectionBody from '../components/SectionBody.vue'

export default {
    name:'Home',
    components:{
        SectionHeader,
        SectionBody,
        SectionFooter
    }    
}
</script>
