<template>
    <div class="SectionBody body-raised">
        <div class="container text-center">
            <div class="card-zindex">
                  <div class="card-content">
                     <img class='img-edu' src="../assets/img/profile.png" alt="profile">
                     <h1 class="card-top">Ari Ghi</h1>
                     <p class="status">(Penanggung Jawab)</p>
                     <a href="#"><i class="fas fa-map-marked-alt"></i>  Yogyakarta, DI Yogyakarta</a> 
                     <a href="#"><p><i class="fa fa-phone"></i>  +62 856 0876 6545</p></a>
                  </div>
            </div>
            <div class="col-sm-12 ml-auto mr-auto">
               <div class="container-nav">
                  <ul class="nav nav-pills nav-fill navtop">
                     <li class="nav-item">
                           <a class="nav-link active" href="#menu1" data-toggle="tab">Menghadapi Bencana</a>
                     </li>
                     <li class="nav-item">
                           <a class="nav-link" href="#menu2" data-toggle="tab">Ancaman Bencana</a>
                     </li>
                     <li class="nav-item">
                           <a class="nav-link" href="#menu3" data-toggle="tab">Titik Kumpul Aman</a>
                     </li>
                  </ul>
                  <div class="tab-content text-center">
                     <div class="tab-pane active" role="tabpanel" id="menu1">
                        <div class="hr-title"></div>
                        <div class="content-node">
                           <h1 class="float-left">Tips Menghadapi Banjir </h1>
                           </div>
                           <br>
                           <br>
                           <br>
                            <div class="isi">
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                            </p>
                            <br>
                            
                            <p class="tulisan"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                            </p>

                            <p class="gambar">
                            <img src= "../assets/img/bg-hero.png">
                            </p>
                            <br>
                       
                            <p class="images">
                            <img src= "../assets/img/content.png">
                            </p>
                      </div>
                      
                     </div>
                     
                     <div class="tab-pane" role="tabpanel" id="menu2">
                        <div class="hr-title"></div>
                        <div class="content-node text-center">
                           <h1>Ancaman Bencana Disekitar Anda</h1>
                           <div class="bg-ancaman">
                              <div class="container text-center">
                                <div class="features">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="col">
                                                <div class="img-1"> 
                                                    <img  src="../assets/img/edukasi1.png"  class="img-raised img-fluid"  alt="iamge Thumbnail raised">
                                                </div>
                                            </div>
                                            <div class="layout-1">
                                                <div class="info">
                                                    <br><br>
                                                    <h4 class="info-title">Tsunami</h4>
                                                    <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                                                    <button class="btn-more"><a href="#">Read More</a></button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="col">
                                                <div class="img-1"> 
                                                    <img  src="../assets/img/edukasi1.png"  class="img-raised img-fluid"  alt="iamge Thumbnail raised">
                                                </div>
                                            </div>
                                            <div class="layout-1">
                                                <div class="info">
                                                    <br><br>
                                                    <h4 class="info-title">Tanah Longsor</h4>
                                                    <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                                                    <button class="btn-more"><a href="#">Read More</a></button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="col">
                                                <div class="img-1"> 
                                                    <img  src="../assets/img/edukasi1.png"  class="img-raised img-fluid"  alt="iamge Thumbnail raised">
                                                </div>
                                            </div>
                                            <div class="layout-1">
                                                <div class="info">
                                                    <br><br>
                                                    <h4 class="info-title">Gunung Meletus</h4>
                                                    <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                                                    <button class="btn-more"><a href="#">Read More</a></button>
                                                </div>
                                            </div>

                                      <br><br>
                                      </div>
                                </div>
                            </div>
                            </div> <!--End div class container align-center-->
                              <!-- <div class="container">
                                 <div class="row">
                                   <div class="col-md-4">
                                       <div class="card-ancaman">
                                          <div class="inner-card">
                                             <div class="thumb-img">
                                                <img src="@/assets/img/bg7.jpg" alt="thumb-img">
                                             </div>
                                             <h4 class="info-title">Sebuah tanya, Apa itu bencana ?</h4>
                                             <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                                             <div class="read-more">
                                                <h4><a href="#">Read More</a></h4>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>   
                              </div> -->
                           </div>
                        </div>
                     </div>
                     <div class="tab-pane" role="tabpanel" id="menu3">
                        <div class="hr-title"></div>
                        <div class="content-node">
                           <h1>Titik Kumpul Aman Di Lingkungan Anda</h1>
                           <img src="@/assets/img/maps.png" alt="">
                        </div>
                        <div class="hr-title"></div>
                        <div class="info-node">
                           <h1>Titik Kumpul</h1>
                           <p>Jl Prayan 1 Soropadan Rt 3 Rw 36 no 80B Pringsurat, Soropadan, Condongcatur, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
    </div>
</template>



<style scoped>
.img-1 {
    margin: 15px;
    padding-top: 35px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    /*z-index: 9;*/
}

.layout-1 {
    margin-top: 120px;
    padding-top: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.layout-1 p{
    color: black;
    text-align: justify;
    margin: 15px;
    position: relative;
    z-index: 1;

}
.layout-1 .btn-more{
    background-color: #ff7e00;
    border-radius: 15px;
    padding: 15px 30px 15px 30px;
    border: none;
}

.layout-1 .btn-more a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 450;
    font-size: 15px;
}

#blok {
    align-content: center;
    width: 100%;
    height: 240px;
    left: 0px;
    top: 0px;
    text-align: left;
    background-color:#00D3A9;
    z-index: 888;
}
#blok h5{
    color: white;
    margin-left: 50px;
}

.body-raised{
    margin-top: -98px;
}
.card-zindex{
   position: absolute;
   z-index: 2;
}
.card-zindex{
    background-color: #ffffff;
    height: 248px;
    width: 294px;
    margin-left: 33%;
    margin-top: -6%;
    border-radius: 15px;
    padding-bottom: 71px;
     -webkit-box-shadow: 1px 2px 4px 3px #6e6e6e6c;
    box-shadow: 0px 2px 9px 0px #92929259;
}

.img-edu{
    border-radius: 100%;
    position: relative;
    margin-top: -82px;
    width: 160px;
    height: 160px;
}
h1.card-top{
   margin-bottom: 30px;
}
.status{
    border-bottom: 2px solid #F37A03;
    width: 27px;
    margin-left: 21%;
}
p.status{
    width: 160px;
    margin-top: -32px;
    padding-bottom: 20px;
}
.card-content a{
   z-index: 3;
   color:#aaa;
   text-decoration: none;
}
.card-content a:hover{
   color:#F37A03;
}
.card-content i{
   color: #F37A03;
}

@media screen and (min-width:350px) {
    .card-zindex{
    height: 248px;
    width: 233px;
    margin-left: 8%;
    margin-top: -6%;
    border-radius: 15px;
   }

   .img-edu{
      margin-top: -59px;
      width: 120px;
      height: 120px;

   }
}

@media screen and (min-width:550px) {
     .card-zindex{
    width: 274px;
    margin-left: 22%;
   }

   .img-edu{
      margin-top: -59px;
      width: 120px;
      height: 120px;
   }
}

@media screen and (min-width:850px) {
     .card-zindex{
    width: 274px;
    margin-left: 34%;
   }

   .img-edu{
      margin-top: -59px;
      width: 120px;
      height: 120px;
   }
}

@media screen and (min-width:2250px) {
    .section-header .col-header-title .header-icon {
        width: 25%
    }
}

@media screen and (max-width:350px) {
    .section-header .col-header-title .header-icon {
        width: 50%
    }
}

.container-nav{
    /* direction: rtl; */
    padding-top: 200px;
    /* margin-right: 4%; */
    z-index: 1;
}
.navtop{
    margin-top:50px;
}
.tab-content {
    padding: 40px;
    margin-top: -20px; 
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
   background-color: #F37A03;
   font-weight: bold;
}
.nav-pills .nav-link{
   background-color: rgba(218, 218, 218, 0.3);
   border-radius: 20px;
   font-size: 15pt;
}
.nav-fill .nav-item {
    padding: 5px 40px;
}

/* css Tab Menghadapi Bencana */
.isi p {
    text-align: justify;
}

p.tulisan {
    width: 55%;
} 

.gambar img{
    top: 618px;
    left: 58%;
    position: absolute;
    width: 37%;
    height: 15%;
}




/* CSS Tab  Ancaman */
.bg-ancaman{
    position: relative;
    background-color: #00D3A9;
    height: 230px;
    left: -145px;
    top: 33px;
    width: 94.5vw;
   margin-bottom: 70%;
}
.card-ancaman {
   position: absolute;
   z-index: 5;
}
.card-ancaman {
    background-color: #ffffff;
    box-shadow: 0px 2px 6px 0px #88888882;
    border-radius: 19px;
    height: 429px;
    width: 372px;
    margin-top: 19%;
    margin-left: -3%;
}
.thumb-img{
   position: absolute;
   z-index: 6;
}
.thumb-img>img{
    width: 30vw;
}
.inner-card{
    padding-top: 160px;
    width: 342px;
    margin-left: 4%;
}
/* CSS Tab  Titik Kumpul */
.hr-title{
    border: 1px solid #F37A03;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.content-node>img {
    padding: 60px;
    width: 66vw;
}

</style>
