<template>
    <div class="SectionBody body-raised">
        <div class="container text-center">
                <div class="col-sm-12 ml-auto mr-auto">
                        <div class="container">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <nav class="nav-justified text-center">
                                            <div class="nav nav-tabs " id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" href="#about1" role="tab" aria-controls="pop1" aria-selected="true">Lakon Apps</a>
                                                <a class="nav-item nav-link" id="pop2-tab" data-toggle="tab" href="#about2" role="tab" aria-controls="pop2" aria-selected="false">Tim Kami</a>                                            
                                            </div>
                                        </nav>
                                    </div>    
                                        <div class="tab-content" id="nav-tabContent">
                                            <!-- tab conten education -->
                                            <div class="tab-pane fade show active" id="about1" role="tabpanel" aria-labelledby="pop1-tab">
                                                <div class="pt-3"></div>
                                                <p class="tab-desc-menu">
                                                    Aplikasi kami membantu Anda untuk tanggap terhadap kondisi bencana yang kapan saja bisa terjadi dan mempersiapkannya lebih awal.
                                                </p>
                                                
                                                <!-- Bagian About Lakon-->
                                                 <div class="col-sm-12 ml-auto mr-auto">
                                                        <div class="hr-title"></div>
                                                        <!-- Content about -->
                                                        <div class="features">
                                                            <div class="row">
                                                               <div class="col-md-4">
                                                                    <div class="info">
                                                                        <div class="icon icon-info">
                                                                        <i class="material-icons">chat</i>
                                                                        </div>
                                                                        <h4 class="info-title">Lapor</h4>
                                                                        <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                                                                    </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                    <div class="info">
                                                                        <div class="icon icon-success">
                                                                        <i class="material-icons">school</i>
                                                                        </div>
                                                                        <h4 class="info-title">Edukasi Bencana</h4>
                                                                        <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                                                                    </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                    <div class="info">
                                                                        <div class="icon icon-danger">
                                                                            <i class="material-icons">local_library</i>
                                                                        </div>
                                                                        <h4 class="info-title">Data Bencana</h4>
                                                                        <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                                                                    </div>
                                                                    </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                                <!-- end Bagian About Lakon -->
                                                                          
                                                <!-- tab content Our Team    -->
                                                <div class="tab-pane fade" id="about2" role="tabpanel" aria-labelledby="pop2-tab">
                                                    <div class="pt-3"></div>
                                                        <p class="tab-desc-menu">
                                                           {{descTab}}
                                                        </p>
                                                        <!-- Bagian About Lakon-->
                                                    <div class="col-sm-12 ml-auto mr-auto">
                                                           
                                                            <!-- Content about -->
                                                            <div class="features">
                                                                <div class="row">
                                                                    <div class="col-md-4" v-for="content in contents" :key="content.id">
                                                                        <div class="card">
                                                                            <div class="content-card">
                                                                                <img :src="content.img" alt="profile">
                                                                                <h1> {{content.nama}}</h1>
                                                                                <h2 class="tim-card">{{content.platform}}</h2>
                                                                                <p>{{content.desc}}</p>
                                                                            </div>
                                                                            <ul>
                                                                                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                                                                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>                                
                                                                     
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                                <!-- tab content Our Team  -->
                                </div>            
                                <!-- End Row -->
                        </div>
                        <!-- End Container -->
                </div>
                <div class="pt-3 inden-education"></div>
            </div>
        </div>
    </div>
</template>

<script>
import profile from '@/assets/img/profile.png'

export default {
  name: 'SectionFitur',
  data: function(){
      return{
          descTab: ' Aplikasi kami membantu Anda untuk tanggap terhadap kondisi bencana yang kapan saja bisa terjadi dan mempersiapkannya lebih awal.',
          contents:  [
              {
                  id: 1,
                  img: profile,
                  nama: 'Ari Ghi',
                  platform:'Front-end Developer',
                  desc: 'We hand pick our Professionals so that you are only ever tapping into Australias best. ',
                  socials: [
                            {
                             icon: 'fab fa-facebook-square',
                             url: 'http://www.facebook.com'
                            },
                            {
                             icon: 'fab fa-instagram',
                             url: 'http://www.facebook.com'
                            },
                            {
                             icon: 'fab fa-twitter',
                             url: 'http://www.facebook.com'
                            },
                            {
                             icon: 'fab fa-linkedin',
                             url: 'http://www.facebook.com'
                            }
                           ]
              },
              {
                  id: 2,
                  img: profile,
                  nama: 'Monika',
                  platform:'Front-end Developer',
                  desc: 'Spend up to 80% less than going to an agency or the long-term costs associated when outsourcing'
              },
              {
                  id: 3,
                  img: profile,
                  nama: 'Nika',
                  platform:'Front-end Developer',
                  desc: 'Meet your patner face to face to discuss your project needs and to make sure its a good match'
              },
              ],
        }
    }
}   
</script>




<style scoped>

.card{
    position: relative;
    background-color: #ffffff;
    margin-top: 120px;
    margin-left: 23px;
    margin-bottom: 38px;
    height: auto;
    width: 294px;
    border-radius: 15px;
    -webkit-box-shadow: 1px 2px 4px 3px #6e6e6e6c;
    box-shadow: 0px 2px 9px 0px #92929259;
}
.content-card>img {
    border-radius: 100%;
    position: relative;
    margin-top: -82px;
    width: 160px;
    height: 160px;
}
.content-card>h1 {
    font-size: 27pt;
    margin-top: 6px;
    color: #444343;
}
.content-card>h2{
    color: #ffffff;
    font-size: 14pt;
    margin-top: -4px;
    padding: 5px 0px 5px 0px;
}
.content-card>p{
    font-size: 12pt;
    padding: 15px;
}
h2.tim-card {
    background-color: #F37A03;
    width: 206px;
    margin-left: 44px;
    border-radius: 20px;
     transition:0.5s;
}
h2.tim-card:hover {
    background-color:#00D3A9;
    transform:rotateX(360deg);
}
.card>ul {
    margin-left: 30px;
    margin-top: -19px;
}
.card>ul li {
    list-style:none;
    float:left;
}
.card>ul li a {
    display:block;
    color:#F37A03;
    margin:0 10px;
    font-size:20px;
    transition:0.5s;
    text-align:center;
    padding-bottom: 13px;
}
.card>ul li:hover a {
    color:#00D3A9;
    transform:rotateY(360deg);
}
</style>
