<template>
    <div class="end-footer">
        <p>Copyright@2018 | LAKON Indonesia</p>
    </div>
</template>

<script>
export default {
  name: 'endFooter',  
}

</script>


<style scoped>
.end-footer{
  background-color: #333333;
  padding: 2px;
  margin-top: 10px;
}
.end-footer p{
  color:#ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
}
</style>
