<template>
  <div class="hero-education">
    <div class="main-container">
        <div class="fixer-container">
            <h1 class="title-hero">{{title}}<br>{{endTitle}}</h1>                
        </div>
    </div>
    <div class="container">
        <div class="form-group form-search">
                <input type="text" name="keyword" id="keyword" class="form-control form-control-search" placeholder="Cari Edukasi Berdasarkan Kategori Bencana">
                <button type="button" name="button" class="btn btn-default btn-search">
                    <i class="fa fa-search "></i>
                </button>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HeroEducation',
  data(){
    return{
        title:'Edukasi Tanggap',
        endTitle:'Bencana'
        }
  }
<<<<<<< HEAD
}
=======
};

>>>>>>> develop
</script>

<style scoped>

.hero-education{
    background-image: url('../assets/img/bg-hero.png');
    position: inherit;
    margin-top: -49px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
.title-hero{
    margin-top: 115px;
    background-color: rgba(73, 73, 73, 0.404);
    border-radius: 20px;
    margin-bottom: 70px;
    overflow: hidden;
}
h1.title-hero{
    color: #ffffff;
    text-align: center;
    font-size: 40pt;
    padding: 10px 100px 10px 100px;
    overflow:hidden;
}
.main-container {
      float: left;
      position: relative;
      left: 50%;
}
.fixer-container {
    float: left;
    position: relative;
    left: -50%;
}
.form-search .btn-search {
    position: relative;
    float: right;
    border: none;
    padding: 10px 12px;
    right: 2px;
    line-height: 30px;
    width: 58px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: block;
    top: -47px;
    opacity: .7;
    background: #e2e0e02b;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.form-search .btn-search i{
    color:#00D3A9;
    font-size: 17pt;
}
.form-search .btn-search i:hover{
    color: #ff7e00;
}

@media screen and (min-width:350px) {
    .form-control {
        display: block;
        width: 85vw;
        height: calc(2.25rem + 2px);
        padding: 23px 20px;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 40px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        margin-left: -160px;
    }
    .form-search .btn-search {
        position: relative;
        float: right;
        border: none;
        padding: 10px 12px;
        right: 37px;
        line-height: 30px;
        width: 58px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        display: block;
        top: -47px;
        opacity: .7;
        background: #e2e0e02b;
        -webkit-transition: all .2s;
        transition: all .2s;
    }
}

@media screen and (min-width:550px) {
        .form-control {
        display: block;
        width: 71vw;
        height: calc(2.25rem + 2px);
        padding: 23px 20px;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 40px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        margin-left: -115px;
        }
        .form-search .btn-search {
        position: relative;
        float: right;
        border: none;
        padding: 10px 12px;
        right: 2px;
        line-height: 30px;
        width: 58px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        display: block;
        top: -47px;
        opacity: .7;
        background: #e2e0e02b;
        -webkit-transition: all .2s;
        transition: all .2s;
    }
}

@media screen and (min-width:850px) {
    .form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 23px 20px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 40px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: 1px;
    }
    .form-search .btn-search {
    position: relative;
    float: right;
    border: none;
    padding: 10px 12px;
    right: 2px;
    line-height: 30px;
    width: 58px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: block;
    top: -47px;
    opacity: .7;
    background: #e2e0e02b;
    -webkit-transition: all .2s;
    transition: all .2s;
}
}

@media screen and (min-width:2250px) {
    .lakon-text {
        font-size: 14pt
    }
}

@media screen and (max-width:350px) {
    .lakon-text {
        font-size: 12pt
    }
}
</style>


