<template>
    <div id="navbar">
          <nav class="navbar navbar-expand-lg shadow-sm mb-5 bg-white">
            <div class="container animated ">
                    <!-- Brand -->
                    <a class="navbar-brand img-brand" href="#"><img src="https://kitabelokkiri.files.wordpress.com/2018/10/logo.png" alt="logo lakon"></a>
                
                    <!-- Toggler/collapsibe Button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"> <i class="fas fa-bars"></i></span>
                    </button>
                    <!-- Navbar links -->
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto">
                         <li class="nav-item active">
                             <!-- <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a> -->
                            <router-link to="/" class="nav-link">Home</router-link>
                        </li>
                        <li class="nav-item">
                            <!-- <a class="nav-link" href="#"></a> -->
                            <router-link to="education" class="nav-link">Edukasi</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link to="about" class="nav-link">Tentang</router-link>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kontak</a>
                        </li>
                    </ul>
                    </div>
            </div>
        </nav>
    </div>
</template>


<script>
export default {
  name: 'navbar'
}
</script>

