<template>
  <div class="hello section-header">
    <!-- <div class="container">
      <div class="row">
        <div class="col-header-title col-md-6 col-sm-12 col-xs-12">
          <dir class="postition-col">
            <br>
            <h2>Persiapkan diri Anda dimanapun dan<br>kapanpun</h2>
            <p>Aplikasi kami membantu Anda untuk tanggap terhadap kondisi bencana yang kapan saja bisa terjadi dan mempersiapkannya lebih awal. Jadilah LAKON bagi diri sendiri dan orang lain di sekitarmu. Download sekarang</p>
          </dir>
        </div>
        <div class="col-header-image col-md-4 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
          <div class="img-prototype">
            <img src="https://kitabelokkiri.files.wordpress.com/2018/10/nexus_5x.png" alt="lakon apps">
          </div>
        </div>
      </div>
    </div> -->
    <div class="section section-header background-inspigo-gradient">
            <div class="container">
                <div class="row">
                    <!-- title -->
                    <div class="col-header-title col-md-6 col-sm-12 col-xs-12">
                        <div class="header-title">
                            <h1><b>Selamat dari Bencana</b></h1>
                             <br> 
                            <h2>Persiapkan diri Anda dimanapun dan<br>kapanpun</h2>
                        </div>
                        <div class="header-description">
                            <p class="lakon-text">Aplikasi kami membantu Anda untuk tanggap terhadap kondisi bencana yang kapan saja bisa terjadi dan mempersiapkannya lebih awal. Jadilah <b>LAKON</b> bagi diri sendiri dan orang lain di sekitarmu.</p>
                        </div>
                        <p class="lakon-donw"><br><strong>Download sekarang</strong></p>
                        <div class="header-button row">
                            <div class="col-store col-md-4 col-sm-6 col-xs-6">
                                <a href="#" target="_blank">
                                    <img src="https://cdn.inspigo.id/public/assets/images/googlestore.png" width="100%" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- image -->
                    <div class="col-header-image col-md-4 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                        <div class="header-image-container">
                            <img src="https://kitabelokkiri.files.wordpress.com/2018/10/nexus_5x.png" width="100%"/>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>

  </div>

  
</template>

<script>
export default {
  name: 'HelloWorld',
  data: {
    msg: "Selamat dari Bencana"
  }
}
</script>
