<template>
  <div class="footer">
    <div class="section section-header ">
      <div class="container">
        <div class="row">
          <div class="col col-sm-4 col-xs-12">
            <div class="logo-footer">
                <a href="#"><img src="https://kitabelokkiri.files.wordpress.com/2018/10/logo.png" alt="logo lakon"></a>
                <p>Lakon adalah aplikasi yang akan membantu Anda untuk terus tanggap terhadap kondisi bencana yang kapan saja bisa terjadi dan mempersiapkannya lebih awal . . .  <a href="#">Selengkapnya</a></p>
            </div>
          </div>
          <div class="col col-sm-4 col-xs-12">
            <ul class="menu-footer">
              <li v-for="link in links" :key="link.id" :href="link.url" ><a :href="link.url">{{link.text}}</a></li>
            </ul>
          </div>
            <div class="col col-sm-4 col-xs-12">
              <div class="col-images">
                <p>Dapatkan Aplikasinya</p>
                  <a href="#"><img src="https://cdn.inspigo.id/public/assets/images/googlestore.png" width="30%" /></a>
              </div>
            
              <div class="footer-sosmed">
              <h6> Kunjungin kami di :</h6>
                <ul>
                  <li><a href="#"><i class="fab fa-instagram"> </i></a></li>
                  <li><a href="#"><i class="fab fa-facebook"> </i> </a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-youtube"> </i></a></li>
                </ul>
              </div>
          </div>
        </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SectionFooter',
  data(){
		return{
			links: [
				{
					id: 1,
					text: "Tentang Kami",
					url: "#"
				},
				{
					id: 2,
					text: "Hubungi Kami",
					url: "#"
				},
				{
					id: 3,
					text: "Kebijakan & Privasi",
					url: "#"
				},
				{
					id: 4,
					text: "Syarat & Ketentuan",
					url: "#"
				},
				{
					id: 5,
					text: "FAQ",
					url: "#"
				}
			],
      social:[
        {
          id: 1,
          
          url:'#',
        }
      ]
		}
	}
}

</script>

