<template>
    <div class="SectionBody body-raised">
        <div class="container text-center">
            <div class="col-sm-12 ml-auto mr-auto">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9">
                            <nav class="nav-justified text-center"><br><br>
                            <h3>Daftar Edukasi Tanggap Bencana</h3>
                            <div class="hr-title"></div>
                            </nav>
                        </div> <!--End col-sm-9 -->   
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">
                                <div class="col-sm-12 ml-auto mr-auto">
                                    <div class="row ml-auto mr-auto">
                                        <div class="col col-sm-6">
                                            <img src="../assets/img/edukasi1.png"  class="img-raised rounded img-fluid" style="margin-top:15px;" alt="iamge Thumbnail raised">
                                        </div>
                                        <div id="education" class="col col-sm-6">
                                            <h4 class="info-title" >Banjir</h4>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sequi eligendi cupiditate laboriosam modi recusandae autem expedita, quam dolores rem odio maxime velit laborum animi voluptatum, eos assumenda nostrum porro. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sequi eligendi cupiditate laboriosam modi recusandae autem</p>
                                            <a href="#"><i class="fas fa-map-marked-alt"></i>  Yogyakarta, DI Yogyakarta</a> 
                                            <a href="#"><p><i class="fa fa-phone"></i>  +62 856 0876 6545</p></a>
                                            <div class="read-more float-right">
                                                <h4><a href="#">Read More</a></h4>
                                            </div>
                                        </div>
                                    </div> <!--End Row ml-auto-->
                                    <br><hr><br>
                                    <div class="row ml-auto mr-auto">
                                        <div class="col col-sm-6">
                                            <img src="../assets/img/edukasi2.png"  class="img-raised rounded img-fluid" style="margin-top:15px;" alt="iamge Thumbnail raised">
                                        </div>
                                        <div id="education" class="col col-sm-6">
                                            <h4 class="info-title" >Gempa Bumi</h4>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sequi eligendi cupiditate laboriosam modi recusandae autem expedita, quam dolores rem odio maxime velit laborum animi voluptatum, eos assumenda nostrum porro. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sequi eligendi cupiditate laboriosam modi recusandae autem</p>
                                            <a href="#"><i class="fas fa-map-marked-alt"></i>  Yogyakarta, DI Yogyakarta</a> 
                                            <a href="#"><p><i class="fa fa-phone"></i>  +62 856 0876 6545</p></a>
                                            <div class="read-more float-right">
                                            <h4><a href="#">Read More</a></h4>
                                            </div>
                                        </div>
                                    </div> <!-- End row-->
                                                    
                                    <br><br>
                                </div> <!--End col-->
                            </div> <!--End tab-pane-->
                        </div>
                        </div> <!-- End tab-content -->
                    </div> <!--End Row-->
                    
                </div> <!-- End Container-->
                
            </div> <!--End col baris 4-->
            <div id="blok">
                <br><br><h5>Edukasi Lainya</h5>
            </div>
            
            <div class="container text-center">
                <div class="features">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col">
                                <div class="img-1"> 
                                    <img  src="../assets/img/edukasi1.png"  class="img-raised img-fluid"  alt="iamge Thumbnail raised">
                                </div>
                            </div>
                            <div class="layout-1">
                                <div class="info">
                                    <br><br>
                                    <h4 class="info-title">Tsunami</h4>
                                    <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                                    <button class="btn-more"><a href="#">Read More</a></button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="col">
                                <div class="img-1"> 
                                    <img  src="../assets/img/edukasi1.png"  class="img-raised img-fluid"  alt="iamge Thumbnail raised">
                                </div>
                            </div>
                            <div class="layout-1">
                                <div class="info">
                                    <br><br>
                                    <h4 class="info-title">Tanah Longsor</h4>
                                    <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                                    <button class="btn-more"><a href="#">Read More</a></button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="col">
                                <div class="img-1"> 
                                    <img  src="../assets/img/edukasi1.png"  class="img-raised img-fluid"  alt="iamge Thumbnail raised">
                                </div>
                            </div>
                            <div class="layout-1">
                                <div class="info">
                                    <br><br>
                                    <h4 class="info-title">Gunung Meletus</h4>
                                    <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                                    <button class="btn-more"><a href="#">Read More</a></button>
                                </div>
                        </div>

                    <br><br>
                    </div>
                </div>
            </div> <!--End div class container align-center-->
                      


        </div> <!--End Container -->
    </div> <!--End Section Body -->

</template>

<style scoped>

.gradiant {
    
}
.img-1 img {
    margin-top: -140px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 25));
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9;
}

.layout-1 {
    margin-top: -170px;
    padding-top: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.layout-1 p{
    color: black;
    text-align: justify;
    margin: 15px;
    position: relative;
    z-index: 1;

}
.layout-1 .btn-more{
    background-color: #ff7e00;
    border-radius: 15px;
    padding: 15px 30px 15px 30px;
    border: none;
}

.layout-1 .btn-more a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 450;
    font-size: 15px;
}

#blok {
    align-content: center;
    width: 100%;
    height: 240px;
    left: 0px;
    top: 0px;
    text-align: left;
    background-color:#00D3A9;
    z-index: 888;
}
#blok h5{
    color: white;
    margin-left: 50px;
}  
.hr-title{
    border: 1px solid #F37A03;
    padding-left: 15px;
    margin-bottom: 20px;
}
.text-center>h3{
    font-size: 19pt;
    font-weight: bold;
    padding: 0;
    text-transform: uppercase;
    margin-bottom: -29px;
}
</style>