<template>
    <div class="SectionBody body-raised">
        <div class="container text-center">
            <!-- <div class="section ">
                <div class="row"> -->
                    <div class="col-sm-12 ml-auto mr-auto">
                        <div class="container">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <nav class="nav-justified text-center">
                                            <div class="nav nav-tabs " id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" href="#pop1" role="tab" aria-controls="pop1" aria-selected="true">Edukasi Bencana</a>
                                                <a class="nav-item nav-link" id="pop2-tab" data-toggle="tab" href="#pop2" role="tab" aria-controls="pop2" aria-selected="false">Data Korban Bencana</a>                                            
                                            </div>
                                        </nav>
                                    </div>    
                                        <div class="tab-content" id="nav-tabContent">
                                            <!-- tab conten education -->
                                            <div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">
                                                <div class="pt-3"></div>
                                                <div class="pt-3"></div>
                                                <p class="tab-desc-menu">
                                                    Menu Edukasi Bencana ini berisi Edukasi terkait bagaimana Anda dapat mempersiapkan dan mengetahui acaman apa saja dari bencana yang mungkin terjadi di daerah Anda.
                                                </p>
                                                <div class="form-group form-search">
                                                    <input type="text" name="keyword" id="keyword" class="form-control form-control-search" placeholder="Car Edukasi Berdasarkan Kampung Anda">
                                                    <button type="button" name="button" class="btn btn-default btn-round">
                                                        <i class="fa fa-search "></i>
                                                    </button>
                                                </div>
                                                <div class="pt-3 inden-education"></div>
                                                <!-- Bagian tampilan edukasi-->
                                                 <div class="col-sm-12 ml-auto mr-auto">
                                                    <div class="row ml-auto mr-auto">
                                                    <div class="col col-sm-6">
                                                        <img src="../assets/img/education.png"  class="img-raised rounded img-fluid" style="margin-top:15px;" alt="iamge Thumbnail raised">
                                                    </div>
                                                    <div id="education" class="col col-sm-6">
                                                        <h4 class="info-title" >Cara Bertahan Hidup Pada Saat Banjir</h4>
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sequi eligendi cupiditate laboriosam modi recusandae autem expedita, quam dolores rem odio maxime velit laborum animi voluptatum, eos assumenda nostrum porro. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sequi eligendi cupiditate laboriosam modi recusandae autem</p>
                                                        <a href="#"><i class="fas fa-map-marked-alt"></i>  Yogyakarta, DI Yogyakarta</a> 
                                                        <a href="#"><p><i class="fa fa-phone"></i>  +62 856 0876 6545</p></a>
                                                        <div class="read-more float-right">
                                                        <h4><router-link to="/detailEducation" class="nav-link">Read More</router-link></h4>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <!-- akhir bagian berita atas -->
                                                        <div class="hr-title"></div>
                                                        <!-- all education slider -->
                                                        <div class="features">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="info">
                                                                    <div class="col">
                                                                        <img src="../assets/img/education.png"  class="img-raised rounded img-fluid" style="margin-top:15px;" alt="iamge Thumbnail raised">
                                                                    </div>
                                                                    <h4 class="info-title">Tips Makan Tanpa Pakai Mulut</h4>
                                                                    <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                                                                    <div class="read-more">
                                                                        <h4><a href="#">Read More</a></h4>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="info">
                                                                    <div class="col">
                                                                    <img src="../assets/img/education.png"  class="img-raised rounded img-fluid" style="margin-top:15px;" alt="iamge Thumbnail raised">
                                                                    </div>
                                                                    <h4 class="info-title">Jika Terjadi Gempa, Goyanglah!</h4>
                                                                    <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                                                                    <div class="read-more">
                                                                        <h4><a href="#">Read More</a></h4>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="info">
                                                                        <div class="col">
                                                                            <img src="../assets/img/education.png"  class="img-raised rounded img-fluid" style="margin-top:15px;" alt="iamge Thumbnail raised">
                                                                        </div>      
                                                                    <h4 class="info-title">Sebuah tanya, Apa itu bencana ?</h4>
                                                                    <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                                                                    <div class="read-more">
                                                                        <h4><a href="#">Read More</a></h4>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <!--end all education slider -->
                                                    </div>
                                                </div>
                                                <!-- end conten tab education -->
                                                                          
                                                <!-- tab content data korban bencana     -->
                                                <div class="tab-pane fade" id="pop2" role="tabpanel" aria-labelledby="pop2-tab">
                                                    <div class="pt-3"></div>
                                                    <div class="pt-3"></div>
                                                <p class="tab-desc-menu">
                                                    Menu Data Korban Bencana ini berisi iInformasi jumlah korban yang terbagi menjadi korban jiwa, rumah rusak, dan kerusakan fasilitas umum.
                                                </p>
                                                <div class="form-group form-search">
                                                    <input type="text" name="keyword" id="keyword" class="form-control form-control-search" placeholder="Ex: Tsunami Palu">
                                                    <button type="button" name="button" class="btn btn-default btn-round">
                                                        <i class="fa fa-search "></i>
                                                    </button>
                                                </div>
                                                <div class="pt-3 inden-education"></div>
                                                <!-- Bagian tampilan edukasi-->
                                                 <div class="col-sm-12 ml-auto mr-auto">
                                                    <div class="row ml-auto mr-auto">
                                                    <div class="col col-sm-6">
                                                        <img src="../assets/img/education.png"  class="img-raised rounded img-fluid" style="margin-top:15px;" alt="iamge Thumbnail raised">
                                                    </div>
                                                    <div id="education" class="col col-sm-6 data-korban">
                                                        <h4 class="info-title title-korban" >Gempa Bumi di Putus Pacar</h4>
                                                        <a href="#"><i class="fas fa-map-marked-alt"></i>  Yogyakarta, DI Yogyakarta</a> 
                                                        <a href="#"><p><i class="fa fa-phone"></i>  +62 856 0876 6545</p></a>
                                                        <p class="desc-data">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sequi eligendi cupiditate laboriosam modi recusandae autem expedita, quam dolores rem odio maxime velit laborum animi voluptatum, eos assumenda nostrum porro. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sequi eligendi cupiditate laboriosam modi recusandae autem</p>
                                                    </div>
                                                    </div>
                                                    <!-- akhir bagian berita atas -->
                                                        <div class="hr-title"></div>
                                                        <!-- all education slider -->
                                                        <div class="data-korban">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="info">
                                                                    <div class="col icon-korban">
                                                                        <i class="fas fa-users"></i>
                                                                    </div>
                                                                    <h4 class="info-title">Data Korban Jiwa</h4>
                                                                    <div class="num-data">
                                                                        <h5><b>103</b></h5>
                                                                        <p>Orang</p>
                                                                    </div>
                                                                        <p>
                                                                            <b>13</b> Korban Meninggal & Hilang 
                                                                            <br><b>45</b> Korban Luka - luka
                                                                            <br><b>45</b> Korban Terdampak dan Menggungsi
                                                                        </p>
                                                                     </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="info">
                                                                    <div class="col icon-korban">
                                                                        <i class="fas fa-house-damage"></i>
                                                                    </div>
                                                                    <h4 class="info-title">Unit Rumah Rusak</h4>
                                                                    <div class="num-data">
                                                                        <h5><b>434</b></h5>
                                                                        <p>Unit</p>
                                                                    </div>
                                                                        <p>
                                                                            <b>34</b> Unit rumah Rusak Berat 
                                                                            <br><b>200</b> Unit rumah Rusak Sedang
                                                                            <br><b>200</b> Unit rumah Rusak Ringan
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="info">
                                                                        <div class="col icon-korban">
                                                                            <i class="fas fa-city"></i>
                                                                        </div>      
                                                                    <h4 class="info-title">Unit Fasilitas Umum</h4>
                                                                    <div class="num-data">
                                                                        <h5><b>16</b></h5>
                                                                        <p>Unit</p>
                                                                    </div>
                                                                        <p>
                                                                            <b>4</b> Unit Fasilitas Kesehatan  
                                                                            <br><b>4</b> Unit Fasilitas Peribadatan
                                                                            <br><b>8</b> Unit Fasilitas Pendidikan
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <!--end all education slider -->
                                                    </div>    
                                                    <div class="read-more">
                                                                        <h4><a href="#">Lihat Detail</a></h4>
                                                    </div>
                                                    <div class="pt-3 inden-education"></div>
                                                </div>
                                                <!-- end tab data korban  -->
                                            </div>
                                            
                                    <!-- </div> -->
                                </div>
                            </div>
                    </div>
                    <div class="pt-3 inden-education"></div>
                <!-- end col-sm-12 </div>
            </div> -->
        </div>
    </div>

</template>
