<template>
  <div id="app">
    <navbar/>
      <router-view/>
    <endFooter />
  </div>
</template>

<script>
import navbar from './components/navbar.vue'
import endFooter from './components/endFooter.vue'

export default {
  name: 'app',
  components: {
    navbar,
    endFooter
  }
};
</script>

<style >
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
#app {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

</style>
<style src="../src/assets/css/style.css">

</style>